<!DOCTYPE html>
<html>
<head>
  <title>Taiwan bank code</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "taiwan_bank_code/application", media: "all" %>
  <%= javascript_include_tag "taiwan_bank_code/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
